@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --color-background: #030303;
  --color-foreground: #ffffff;
  --color-primary: #6366f1;
  --color-accent: #a855f7;
  
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden;
    font-family: var(--font-jakarta);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-outfit);
    @apply tracking-tight;
  }
}
